<ion-header>
    <ion-toolbar color="danger">
      <!--Basic: auto-select the icon based on the platform -->
      <ion-icon name="../assets/icono1.jpg"></ion-icon>
      <ion-buttons>
        <ion-menu-button slot="end"></ion-menu-button>
        <ion-label>Menú</ion-label>
      </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Confirmación de nueva contraseña </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="concontra">
    <ion-item lines="full">
      <ion-label position="floating">Correo electronico</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button class="concontraa" type="submit" color="danger" expand="block">confirmar</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Proporcione  la dirección de correo electrónico que utilizó cuando registro su usuario
    </small>
  </form>
</ion-content>