<ion-header>
  <ion-toolbar>
    <ion-title>
      Yo comento!!
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Registrate</ion-button>

        <span class="divider line one-line"></span>

        <span class="already">ya eres usuario?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Inicia de sesion </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
