<ion-header>
  <ion-toolbar color="danger">
    <!--Basic: auto-select the icon based on the platform -->
    <ion-icon name="../assets/icono1.jpg"></ion-icon>
    <ion-buttons>
      <ion-menu-button slot="end"></ion-menu-button>
      <ion-label>Menú</ion-label>
    </ion-buttons>
    </ion-toolbar>
    <ion-searchbar  showCancelButton animated placeholder="Buscar"(ionchange)="buscar($event)"></ion-searchbar>
</ion-header>

  <ion-content>
    <h1 >
      PELICULAS CLASIFICACIÓN B
    </h1>
  
    <h2 >
      +14 años de edad
    </h2>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pelicula Clase B</ion-card-subtitle>
        <ion-card-title>BUMBLEBEE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        En 1987, bumblebee huye de los decepticons y se refugia en la Tierra. Poco despues de que una joven con un doloroso pasado se topa con él, sus enemigos vuelven al acecho
        ELENCO: Hailee Steinfeld, Jorge Lendeborg Jr, John Cena, entre otros.
        GÉNERO: Pelicula de ciencia ficción, acción y aventuras 
        DURACIÓN: 1h 54min
      </ion-card-content>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>AÑO DE ESTRENO 2018</ion-label>
        <ion-button fill="outline" slot="end">Comentar</ion-button>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pelicula Clase B</ion-card-subtitle>
        <ion-card-title>JUMANJI EN LA SELVAO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Un videojuego absorbe a cuatro estudiantes, Una vez en la selva, deben embarcarse en una busqueda en sus avatares, que no coinciden para nada con la realidad
        ELENCO: Dwayne Jonhson, Kevin Hart, Jack Black, entre otros
        GÉNERO: Pelicula basada en libros.
        DURACIÓN: 1hr 59min
      </ion-card-content>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>AÑO DE ESTRENO 2017</ion-label>
        <ion-button fill="outline" slot="end">Comentar</ion-button>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pelicula Clase B</ion-card-subtitle>
        <ion-card-title>MIA Y EL LEÓN BLANCO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Durante años, su mujer amigo fue Charlie, un leoncito blanco. Ahora lo quieren vender y sera ella quien muestre las garras para defender su libertad 
        ELENCO: Daniah de Villiers, Melanie Laurent, Langley Kirkwood, entre otros.
        DURACIÓN: 1hr 38min
        GÉNERO: De francia, acción y aventura 
      </ion-card-content>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>AÑO DE ESTRENO 2019</ion-label>
        <ion-button fill="outline" slot="end">Comentar</ion-button>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pelicula Clase B</ion-card-subtitle>
        <ion-card-title>SON COMO NIÑOS 2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Tras regresar a su ciudad natal, lenny feder y sus amigos de toda la vida aprenden que las cosas no son iguales en el lugar que los vio crecer.
        ELENCO: Adam Snadler, Kevin James, Chris Rock, entre otros.
        GENERO: comedia.
        DURACIÓN 1hr 41min 
      </ion-card-content>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>AÑO DE ESTRENO 2013</ion-label>
        <ion-button fill="outline" slot="end">Comentar</ion-button>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pelicula Clase B</ion-card-subtitle>
        <ion-card-title>NO MANCHES FRIDA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Apenas sale de prisión, un exconvicto toma un trabajo como maestro sustituto en una escuela, La misma escuela donde tiene escondido su gran botin.
        DURACIÓN: 1hr 54min
        GÉNERO: COMEDIA
        ELENCO: Omar Chaparro, Martha Higareda, Monica Dionne, entre otros.
      </ion-card-content>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>AÑO DE ESTRENO 2016</ion-label>
        <ion-button fill="outline" slot="end">Comentar</ion-button>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pelicula Clase B</ion-card-subtitle>
        <ion-card-title>MILAGRO AZUL</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Para ayudar a su orfanato de escasos recursos, un hombre y un grupo de jovenes se asocian al gruñon capitan de un barco para competir en un licrativo torneo de pesca 
        ELENCO: Jimmy Gonzalez, Dennis Quaid, Anthony Gonzalez, entre otros.
        GENERO: basada en la vida real, infantil y familiar. 
        DURACIÓN: 1hr 36min.
      </ion-card-content>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>AÑO DE ESTRENO 2021</ion-label>
        <ion-button fill="outline" slot="end">Comentar</ion-button>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pelicula Clase B</ion-card-subtitle>
        <ion-card-title>PATERNIDAD</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Un papa novato y viudo les hace frente a las dudas, los miedos, el dolor y los pañales sucios al criar a su hija por su cuenta, inspirada en una historia real 
        GÉNERO: basada en la vida real, basada en libros, drama.
        DURACIÓN:1hr 50min.
        ELENCO: Kevin Hart, Alfre Woodard, Lil Rel Howery, entre otros.
      </ion-card-content>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>AÑO DE ESTRENO 2021</ion-label>
        <ion-button fill="outline" slot="end">Comentar</ion-button>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pelicula Clase B</ion-card-subtitle>
        <ion-card-title>AMOR Y MONSTRUOS</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Siete años despues de sobrevivir al apocalipsis de mosntruos, el desafortunado pero adorable Joel deja atras su bunker subterraneo para reunirse con su ex.
        ELENCO: Dylan OBrien, Jessica Henwick, Michael Rooker, entre otros.
        DURACIÓN: 1hr 49min.
        GÉNERO: Ciencia ficción, pelicula familiar, para adolescentes.
      </ion-card-content>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>AÑO DE ESTRENO 2021</ion-label>
        <ion-button fill="outline" slot="end">Comentar</ion-button>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pelicula Clase B</ion-card-subtitle>
        <ion-card-title>A TODOS LOS CHICOS PARA SIEMPRE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Es el ultimo año de la escuela, con todo lo que eso significa. tras su regreso de un viaje familiar a Corea, lara Jean analiza sus planes para el futuro, con peter y sin el. 
        DURACIÓN: 1hr 55min.
        GÉNERO: comedia romantica, basada en libros, para adolescentes. 
        ELENCO: Lana Condor, Noah Centineo, Janel Parrish, entre otros.
      </ion-card-content>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>AÑO DE ESTRENO 2021</ion-label>
        <ion-button fill="outline" slot="end">Comentar</ion-button>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pelicula Clase B</ion-card-subtitle>
        <ion-card-title>FUERZA TRUENO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Dos amigas de la infancia se convierten en las mas insolitas heroinas cuando una de ellas inventa una formula para desarrollar superpoderes.
        DURACIÓN: 1hr 47min
        ELENCO: melissa Maccarthy, octavia spencer, jason bateman, entre otros.
        GÉNERO: acción, comedia y aventura 
      </ion-card-content>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>AÑO DE ESTRENO 2021</ion-label>
        <ion-button fill="outline" slot="end">Comentar</ion-button>
      </ion-item>
    </ion-card>
</ion-content>
