<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-img src="../assets/logo.png"></ion-img>
      <ion-menu-button slot="end"></ion-menu-button>
      <ion-label>Menú</ion-label>
      <ion-button  color="dark" slot="end"[routerLink]="['/sesion']">
        <ion-icon name="flower"></ion-icon>Home</ion-button> 
    </ion-buttons>
    </ion-toolbar>
    <ion-searchbar  showCancelButton animated placeholder="Buscar"(ionchange)="buscar($event)"></ion-searchbar>
</ion-header>

  <ion-content>
    <h1 >
      <ion-icon class="icon" color="danger" name="planet"</ion-icon> PELICULAS CLASIFICACIÓN B
    </h1>
  
    <h2 >
      +14 años de edad
    </h2>
    
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let pelicula of peliculas"  >
          <ion-card class="cartapelicula"> 
            <ion-card-header>
              <ion-img class="fotopelicula" src="../assets/logo.png"></ion-img>
              <ion-card-subtitle> {{pelicula.clase}}</ion-card-subtitle>
              <ion-card-title>{{pelicula.titulo}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{pelicula.descripcion}}<br>
                 GÉNERO:{{pelicula.genero}}  <br>
                  DURACIÓN: {{pelicula.duracion}} <br>
                  ELENCO: {{pelicula.elenco}}<br>
                  PRODUCIDA POR: {{pelicula.produccion}}<br>
            </ion-card-content>
            <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>{{pelicula.year}}</ion-label>
              <ion-button  color="dark" fill="outline" slot="end">Comentar</ion-button>
              <ion-buttons fill="outline" slot="end">
                <ion-icon name="happy" fill="outline" slot="end"></ion-icon>
               </ion-buttons>
               <ion-buttons fill="outline" slot="end">
                <ion-icon name="heart" fill="outline" slot="end"></ion-icon>
               </ion-buttons>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>
    </ion-grid>

</ion-content>
