h1{
    text-align: center;
    color:dark;
    font-family:fantasy, 'Times New Roman', Times, serif;
    .icon{
        margin-right: 10px;
    }
}
h2{
    text-align: center;
    color:darkgrey;
    font-family: fantasy, 'Times New Roman', Times, serif;
}
.cartapelicula{
    width: 400px;
    margin:auto;
 
 }