.Registrarse{
   width: 150px;
    margin:auto;
    margin-top: 20px;
}

.FormularioRegistro{
    width: 350px;
    border: 1px solid lightgray;
    border-radius: 2.5px solid lightgray;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
}

ion-item{
    margin-bottom: 10px;
}