<ion-header>
  <ion-toolbar>
    <ion-title>Ingresa Aqui tus datos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Regresar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="Register()"[formGroup]="credentials"> 
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" required formControlName="name"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" required formControlName="firstname"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input type="text" required formControlName="Email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Ingresa tu Contraseña</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>