<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-img src="../assets/logo.png"></ion-img>
      <ion-row>
        <ion-col>
          <ion-img name="../assets/foto33.jpg"></ion-img>
        </ion-col>
        <ion-col> <ion-back-button [routerLink]="['/home']"></ion-back-button> <ion-col>Regresar</ion-col></ion-col>
      </ion-row>
      
  
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <form  class="FormularioRegistro"(ngSubmit)="Register()"[formGroup]="credentials"> 
    <ion-img class="usuariofoto" src="../assets/usuario.png"></ion-img>
    <h1>
Regístrate
    </h1>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" required formControlName="name"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" required formControlName="firstname"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input type="text" required formControlName="Email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Ingresa tu Contraseña</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button class= "Registrarse" type="submit" color="danger" expand="block">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>